IT Helpdesk Ticket Auto-Router/IT Helpdesk Ticket Auto-Router.json
{
  "name": "IT Helpdesk Ticket Auto-Router",
  "nodes": [
    {
      "parameters": {
        "formId": "FORM_PLACEHOLDER",
        "simplifyAnswers": false,
        "onlyAnswers": false
      },
      "type": "n8n-nodes-base.typeformTrigger",
      "typeVersion": 1.1,
      "position": [
        -176,
        -816
      ],
      "id": "ID_PLACEHOLDER",
      "name": "Typeform Trigger",
      "webhookId": "WEBHOOK_PLACEHOLDER",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "credentials": {
        "typeformApi": {
          "id": "TYPEFORMAPI_ID_PLACEHOLDER",
          "name": "Placeholder typeformApi Credential"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ID_PLACEHOLDER",
              "name": "submitter_name",
              "value": "={{ $json.form_response.answers[0].text }}",
              "type": "string"
            },
            {
              "id": "ID_PLACEHOLDER",
              "name": "email",
              "value": "={{ $json.form_response.answers[1].email }}",
              "type": "string"
            },
            {
              "id": "ID_PLACEHOLDER",
              "name": "issue_title",
              "value": "={{ $json.form_response.answers[2].text }}",
              "type": "string"
            },
            {
              "id": "ID_PLACEHOLDER",
              "name": "description",
              "value": "={{ $json.form_response.answers[3].text }}",
              "type": "string"
            },
            {
              "id": "ID_PLACEHOLDER",
              "name": "priority",
              "value": "={{ $json.form_response.answers[4].choice.label }}",
              "type": "string"
            },
            {
              "id": "ID_PLACEHOLDER",
              "name": "affected_system",
              "value": "={{ $json.form_response.answers[5].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        -816
      ],
      "id": "ID_PLACEHOLDER",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ID_PLACEHOLDER",
              "leftValue": "={{ $json.priority }}",
              "rightValue": "P1 - Critical",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        272,
        -816
      ],
      "id": "ID_PLACEHOLDER",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ID_PLACEHOLDER",
              "leftValue": "={{ $json.priority }}",
              "rightValue": "P2 - High",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        496,
        -720
      ],
      "id": "ID_PLACEHOLDER",
      "name": "If1"
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "ticket",
        "pipelineId": "0",
        "stageId": "1",
        "ticketName": "={{ $('Edit Fields').item.json.issue_title }}",
        "additionalFields": {
          "description": "={{ $('Edit Fields').item.json.description }}",
          "priority": "URGENT"
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        944,
        -1008
      ],
      "id": "ID_PLACEHOLDER",
      "name": "Create a ticket (Urgent)",
      "credentials": {
        "hubspotAppToken": {
          "id": "HUBSPOTAPPTOKEN_ID_PLACEHOLDER",
          "name": "Placeholder hubspotAppToken Credential"
        }
      }
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "ticket",
        "pipelineId": "0",
        "stageId": "1",
        "ticketName": "={{ $('Edit Fields').item.json.issue_title }}",
        "additionalFields": {
          "description": "={{ $('Edit Fields').item.json.description }}",
          "priority": "HIGH"
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        1168,
        -816
      ],
      "id": "ID_PLACEHOLDER",
      "name": "Create a ticket (P2 High)",
      "credentials": {
        "hubspotAppToken": {
          "id": "HUBSPOTAPPTOKEN_ID_PLACEHOLDER",
          "name": "Placeholder hubspotAppToken Credential"
        }
      }
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "ticket",
        "pipelineId": "0",
        "stageId": "1",
        "ticketName": "={{ $('Edit Fields').item.json.issue_title }}",
        "additionalFields": {
          "description": "={{ $('Edit Fields').item.json.description }}",
          "priority": "LOW"
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        1168,
        -624
      ],
      "id": "ID_PLACEHOLDER",
      "name": "Create a ticket (P3 Low)",
      "credentials": {
        "hubspotAppToken": {
          "id": "HUBSPOTAPPTOKEN_ID_PLACEHOLDER",
          "name": "Placeholder hubspotAppToken Credential"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "placeholder-channel-name"
        },
        "text": "=🚨 *P1 CRITICAL TICKET*\n*From:* {{ $('Edit Fields').item.json.submitter_name }} ({{ $('Edit Fields').item.json.email }})\n*Issue:* {{ $('Edit Fields').item.json.issue_title }}\n*System:* {{ $('Edit Fields').item.json.affected_system }}\n*Details:* {{ $('Edit Fields').item.json.description }}\n⏱ *Response required within 1 hour*",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1168,
        -1008
      ],
      "id": "ID_PLACEHOLDER",
      "name": "Slack (alert to #all-it-urgent)",
      "webhookId": "WEBHOOK_PLACEHOLDER",
      "credentials": {
        "slackApi": {
          "id": "SLACKAPI_ID_PLACEHOLDER",
          "name": "Placeholder slackApi Credential"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "= Write a professional and friendly ticket confirmation email body in HTML format for this ticket:\n\nSubmitter: {{ $('Edit Fields').item.json.submitter_name }}\nIssue: {{ $('Edit Fields').item.json.issue_title }}\nPriority: {{ $('Edit Fields').item.json.priority }}\nSystem Affected: {{ $('Edit Fields').item.json.affected_system }}\nDescription: {{ $('Edit Fields').item.json.description }}\n\nInclude:\n- Greeting using their name\n- Confirmation ticket was received\n- Summary of their issue\n- Expected response time (P1=1hr, P2=4hrs, P3=24hrs)\n- Professional closing\n\nReturn only the HTML email body, nothing else."
            },
            {
              "content": "You are an IT helpdesk assistant.",
              "role": "model"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1392,
        -1008
      ],
      "id": "ID_PLACEHOLDER",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "GOOGLEPALMAPI_ID_PLACEHOLDER",
          "name": "Placeholder googlePalmApi Credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.content.parts[1].text;\n\nconst cleaned = raw\n  .replace(/```html\\n?/g, '')\n  .replace(/```\\n?/g, '')\n  .trim();\n\nreturn [{ json: { emailBody: cleaned } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        -1008
      ],
      "id": "ID_PLACEHOLDER",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Edit Fields').item.json.email }}",
        "subject": "=Ticket Has Been Recieved {{ $('Edit Fields').item.json.issue_title }}",
        "message": "={{ $json.emailBody }}",
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1968,
        -1008
      ],
      "id": "ID_PLACEHOLDER",
      "name": "Send a message",
      "webhookId": "WEBHOOK_PLACEHOLDER",
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAILOAUTH2_ID_PLACEHOLDER",
          "name": "Placeholder gmailOAuth2 Credential"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "= Write a professional and friendly ticket confirmation email body in HTML format for this ticket:\n\nSubmitter: {{ $('Edit Fields').item.json.submitter_name }}\nIssue: {{ $('Edit Fields').item.json.issue_title }}\nPriority: {{ $('Edit Fields').item.json.priority }}\nSystem Affected: {{ $('Edit Fields').item.json.affected_system }}\nDescription: {{ $('Edit Fields').item.json.description }}\n\nInclude:\n- Greeting using their name\n- Confirmation ticket was received\n- Summary of their issue\n- Expected response time (P1=1hr, P2=4hrs, P3=24hrs)\n- Professional closing\n\nReturn only the HTML email body, nothing else."
            },
            {
              "content": "You are an IT helpdesk assistant.",
              "role": "model"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1392,
        -816
      ],
      "id": "ID_PLACEHOLDER",
      "name": "Message a model (P2)",
      "credentials": {
        "googlePalmApi": {
          "id": "GOOGLEPALMAPI_ID_PLACEHOLDER",
          "name": "Placeholder googlePalmApi Credential"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "= Write a professional and friendly ticket confirmation email body in HTML format for this ticket:\n\nSubmitter: {{ $('Edit Fields').item.json.submitter_name }}\nIssue: {{ $('Edit Fields').item.json.issue_title }}\nPriority: {{ $('Edit Fields').item.json.priority }}\nSystem Affected: {{ $('Edit Fields').item.json.affected_system }}\nDescription: {{ $('Edit Fields').item.json.description }}\n\nInclude:\n- Greeting using their name\n- Confirmation ticket was received\n- Summary of their issue\n- Expected response time (P1=1hr, P2=4hrs, P3=24hrs)\n- Professional closing\n\nReturn only the HTML email body, nothing else."
            },
            {
              "content": "You are an IT helpdesk assistant.",
              "role": "model"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1392,
        -624
      ],
      "id": "ID_PLACEHOLDER",
      "name": "Message a model (P3)",
      "credentials": {
        "googlePalmApi": {
          "id": "GOOGLEPALMAPI_ID_PLACEHOLDER",
          "name": "Placeholder googlePalmApi Credential"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Edit Fields').item.json.email }}",
        "subject": "=Ticket Has Been Recieved {{ $('Edit Fields').item.json.issue_title }}",
        "message": "={{ $json.emailBody }}",
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1968,
        -624
      ],
      "id": "ID_PLACEHOLDER",
      "name": "Send a message (P3)",
      "webhookId": "WEBHOOK_PLACEHOLDER",
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAILOAUTH2_ID_PLACEHOLDER",
          "name": "Placeholder gmailOAuth2 Credential"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Edit Fields').item.json.email }}",
        "subject": "=Ticket Has Been Recieved {{ $('Edit Fields').item.json.issue_title }}",
        "message": "={{ $json.emailBody }}",
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1968,
        -816
      ],
      "id": "ID_PLACEHOLDER",
      "name": "Send a message (P2)",
      "webhookId": "WEBHOOK_PLACEHOLDER",
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAILOAUTH2_ID_PLACEHOLDER",
          "name": "Placeholder gmailOAuth2 Credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.content.parts[1].text;\n\nconst cleaned = raw\n  .replace(/```html\\n?/g, '')\n  .replace(/```\\n?/g, '')\n  .trim();\n\nreturn [{ json: { emailBody: cleaned } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        -624
      ],
      "id": "ID_PLACEHOLDER",
      "name": "Code in JavaScript (P3)"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.content.parts[1].text;\n\nconst cleaned = raw\n  .replace(/```html\\n?/g, '')\n  .replace(/```\\n?/g, '')\n  .trim();\n\nreturn [{ json: { emailBody: cleaned } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        -816
      ],
      "id": "ID_PLACEHOLDER",
      "name": "Code in JavaScript (P2)"
    },
    {
      "parameters": {
        "authentication": "appToken",
        "operation": "search",
        "returnAll": true,
        "filterGroupsUi": {
          "filterGroupsValues": [
            {
              "filtersUi": {
                "filterValues": [
                  {
                    "propertyName": "email|string",
                    "value": "={{ $('Edit Fields').item.json.email }}"
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        496,
        -1008
      ],
      "id": "ID_PLACEHOLDER",
      "name": "Search contacts",
      "alwaysOutputData": true,
      "credentials": {
        "hubspotAppToken": {
          "id": "HUBSPOTAPPTOKEN_ID_PLACEHOLDER",
          "name": "Placeholder hubspotAppToken Credential"
        }
      }
    },
    {
      "parameters": {
        "authentication": "appToken",
        "email": "={{ $('Edit Fields').item.json.email }}",
        "additionalFields": {
          "firstName": "={{ $('Edit Fields').item.json.submitter_name }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        720,
        -1008
      ],
      "id": "ID_PLACEHOLDER",
      "name": "Create or update a contact",
      "credentials": {
        "hubspotAppToken": {
          "id": "HUBSPOTAPPTOKEN_ID_PLACEHOLDER",
          "name": "Placeholder hubspotAppToken Credential"
        }
      }
    },
    {
      "parameters": {
        "authentication": "appToken",
        "operation": "search",
        "returnAll": true,
        "filterGroupsUi": {
          "filterGroupsValues": [
            {
              "filtersUi": {
                "filterValues": [
                  {
                    "propertyName": "email|string",
                    "value": "={{ $('Edit Fields').item.json.email }}"
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        720,
        -816
      ],
      "id": "ID_PLACEHOLDER",
      "name": "Search contacts (P1)",
      "alwaysOutputData": true,
      "credentials": {
        "hubspotAppToken": {
          "id": "HUBSPOTAPPTOKEN_ID_PLACEHOLDER",
          "name": "Placeholder hubspotAppToken Credential"
        }
      }
    },
    {
      "parameters": {
        "authentication": "appToken",
        "operation": "search",
        "returnAll": true,
        "filterGroupsUi": {
          "filterGroupsValues": [
            {
              "filtersUi": {
                "filterValues": [
                  {
                    "propertyName": "email|string",
                    "value": "={{ $('Edit Fields').item.json.email }}"
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        720,
        -624
      ],
      "id": "ID_PLACEHOLDER",
      "name": "Search contacts (P2)",
      "alwaysOutputData": true,
      "credentials": {
        "hubspotAppToken": {
          "id": "HUBSPOTAPPTOKEN_ID_PLACEHOLDER",
          "name": "Placeholder hubspotAppToken Credential"
        }
      }
    },
    {
      "parameters": {
        "authentication": "appToken",
        "email": "={{ $('Edit Fields').item.json.email }}",
        "additionalFields": {
          "firstName": "={{ $('Edit Fields').item.json.submitter_name }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        944,
        -816
      ],
      "id": "ID_PLACEHOLDER",
      "name": "Create or update a contact (P1)",
      "credentials": {
        "hubspotAppToken": {
          "id": "HUBSPOTAPPTOKEN_ID_PLACEHOLDER",
          "name": "Placeholder hubspotAppToken Credential"
        }
      }
    },
    {
      "parameters": {
        "authentication": "appToken",
        "email": "={{ $('Edit Fields').item.json.email }}",
        "additionalFields": {
          "firstName": "={{ $('Edit Fields').item.json.submitter_name }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        944,
        -624
      ],
      "id": "ID_PLACEHOLDER",
      "name": "Create or update a contact (P2)",
      "credentials": {
        "hubspotAppToken": {
          "id": "HUBSPOTAPPTOKEN_ID_PLACEHOLDER",
          "name": "Placeholder hubspotAppToken Credential"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Typeform Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Search contacts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Search contacts (P1)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search contacts (P2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a ticket (Urgent)": {
      "main": [
        [
          {
            "node": "Slack (alert to #all-it-urgent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack (alert to #all-it-urgent)": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a ticket (P2 High)": {
      "main": [
        [
          {
            "node": "Message a model (P2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a ticket (P3 Low)": {
      "main": [
        [
          {
            "node": "Message a model (P3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model (P2)": {
      "main": [
        [
          {
            "node": "Code in JavaScript (P2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model (P3)": {
      "main": [
        [
          {
            "node": "Code in JavaScript (P3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript (P3)": {
      "main": [
        [
          {
            "node": "Send a message (P3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript (P2)": {
      "main": [
        [
          {
            "node": "Send a message (P2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search contacts": {
      "main": [
        [
          {
            "node": "Create or update a contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a contact": {
      "main": [
        [
          {
            "node": "Create a ticket (Urgent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search contacts (P1)": {
      "main": [
        [
          {
            "node": "Create or update a contact (P1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search contacts (P2)": {
      "main": [
        [
          {
            "node": "Create or update a contact (P2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a contact (P1)": {
      "main": [
        [
          {
            "node": "Create a ticket (P2 High)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a contact (P2)": {
      "main": [
        [
          {
            "node": "Create a ticket (P3 Low)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "VERSION_PLACEHOLDER",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "INSTANCE_PLACEHOLDER"
  },
  "id": "ID_PLACEHOLDER",
  "tags": []
}