Client Onboarding Automation/Client Onboarding Automation.blueprint.json
{
  "name": "Client Onboarding Automation",
  "flow": [
    {
      "id": 1,
      "module": "airtable:TriggerWatchRecords",
      "version": 3,
      "parameters": {
        "base": "BASE_PLACEHOLDER",
        "view": "",
        "table": "TABLE_PLACEHOLDER",
        "config": {
          "labelField": "Client Name",
          "triggerField": "Created"
        },
        "formula": "",
        "maxRecords": 10,
        "__IMTCONN__": 0,
        "useColumnId": false
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        },
        "restore": {
          "parameters": {
            "base": "BASE_PLACEHOLDER",
            "view": {
              "label": "Empty"
            },
            "table": "TABLE_PLACEHOLDER",
            "config": {
              "nested": {
                "labelField": {
                  "label": "Client Name"
                },
                "triggerField": {
                  "label": "Created"
                }
              },
              "collapsed": true
            },
            "__IMTCONN__": 0
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:airtable3,airtable2",
            "label": "Placeholder connection",
            "required": true
          },
          {
            "name": "base",
            "type": "select",
            "label": "Base",
            "required": true
          },
          {
            "name": "useColumnId",
            "type": "boolean",
            "label": "Use Column ID",
            "required": true
          },
          {
            "name": "table",
            "type": "select",
            "label": "Table",
            "required": true
          },
          {
            "name": "config",
            "spec": [
              {
                "name": "triggerField",
                "type": "select",
                "label": "Trigger field",
                "required": true
              },
              {
                "name": "triggerField",
                "type": "hidden"
              },
              {
                "name": "labelField",
                "type": "select",
                "label": "Label field",
                "required": true
              }
            ],
            "type": "collection",
            "label": "Trigger configuration"
          },
          {
            "name": "maxRecords",
            "type": "integer",
            "label": "Limit",
            "required": true
          },
          {
            "name": "view",
            "type": "select",
            "label": "View"
          },
          {
            "name": "formula",
            "type": "text",
            "label": "Formula"
          }
        ],
        "interface": [
          {
            "name": "id",
            "type": "text",
            "label": "ID"
          },
          {
            "name": "createdTime",
            "type": "date",
            "label": "Created Time"
          },
          {
            "name": "Client Name",
            "type": "text",
            "label": "Client Name"
          },
          {
            "name": "Company",
            "type": "text",
            "label": "Company"
          },
          {
            "name": "Email",
            "type": "text",
            "label": "Email"
          },
          {
            "name": "Phone",
            "type": "text",
            "label": "Phone"
          },
          {
            "name": "Service Type",
            "type": "text",
            "label": "Service Type"
          },
          {
            "name": "Budget",
            "type": "number",
            "label": "Budget"
          },
          {
            "name": "Start Date",
            "time": false,
            "type": "date",
            "label": "Start Date"
          },
          {
            "name": "Assigned To",
            "type": "text",
            "label": "Assigned To"
          },
          {
            "name": "Status",
            "type": "text",
            "label": "Status"
          },
          {
            "name": "Notes",
            "type": "text",
            "label": "Notes",
            "multiline": true
          },
          {
            "name": "Created",
            "type": "date",
            "label": "Created"
          }
        ]
      }
    },
    {
      "id": 2,
      "module": "hubspotcrm:upsertAContact",
      "version": 2,
      "parameters": {
        "__IMTCONN__": 0
      },
      "mapper": {
        "_method": "compact",
        "properties": [
          {
            "key": "firstname",
            "value": "{{1.`Client Name`}}"
          },
          {
            "key": "email",
            "value": "{{1.Email}}"
          },
          {
            "key": "phone",
            "value": "{{1.Phone}}"
          },
          {
            "key": "company",
            "value": "{{1.Company}}"
          }
        ],
        "swapPrimaryEmail": false,
        "parseCustomFields": true
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        },
        "restore": {
          "expect": {
            "_method": {
              "mode": "chose",
              "label": "Compact"
            },
            "properties": {
              "mode": "chose",
              "items": [
                {
                  "key": {
                    "mode": "chose",
                    "label": "First Name"
                  }
                },
                {
                  "key": {
                    "mode": "chose",
                    "label": "Email"
                  }
                },
                {
                  "key": {
                    "mode": "chose",
                    "label": "Phone Number"
                  }
                },
                {
                  "key": {
                    "mode": "chose",
                    "label": "Company Name"
                  }
                }
              ]
            },
            "swapPrimaryEmail": {
              "mode": "chose"
            },
            "parseCustomFields": {
              "mode": "chose"
            }
          },
          "parameters": {
            "__IMTCONN__": 0
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:hubspotcrm",
            "label": "Placeholder connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "_method",
            "type": "select",
            "label": "View Method",
            "required": true,
            "validate": {
              "enum": [
                "compact",
                "all"
              ]
            }
          },
          {
            "name": "SECRET_PLACEHOLDER",
            "type": "boolean",
            "label": "Swap Primary Email",
            "required": true
          },
          {
            "name": "SECRET_PLACEHOLDER",
            "type": "boolean",
            "label": "Parse Custom Fields",
            "required": true
          },
          {
            "name": "properties",
            "spec": [
              {
                "name": "key",
                "type": "select",
                "label": "Key",
                "dynamic": true,
                "options": []
              },
              {
                "name": "value",
                "type": "any",
                "label": "Value"
              }
            ],
            "type": "array",
            "label": "Properties"
          }
        ],
        "interface": [
          {
            "name": "id",
            "type": "text",
            "label": "Contact ID"
          },
          {
            "name": "properties",
            "spec": [
              {
                "name": "address",
                "type": "text",
                "label": "Street Address"
              },
              {
                "name": "annualrevenue",
                "type": "text",
                "label": "Annual Revenue"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Primary Associated Company ID"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Associated Company Last Updated"
              },
              {
                "name": "city",
                "type": "text",
                "label": "City"
              },
              {
                "name": "closedate",
                "type": "date",
                "label": "Close Date"
              },
              {
                "name": "company",
                "type": "text",
                "label": "Company Name"
              },
              {
                "name": "company_size",
                "type": "text",
                "label": "Company size"
              },
              {
                "name": "country",
                "type": "text",
                "label": "Country/Region"
              },
              {
                "name": "createdate",
                "type": "date",
                "label": "Create Date"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Currently in workflow (discontinued)"
              },
              {
                "name": "date_of_birth",
                "type": "text",
                "label": "Date of birth"
              },
              {
                "name": "days_to_close",
                "type": "number",
                "label": "Days To Close"
              },
              {
                "name": "degree",
                "type": "text",
                "label": "Degree"
              },
              {
                "name": "email",
                "type": "text",
                "label": "Email"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Date of last meeting booked in meetings tool"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Campaign of last booking in meetings tool"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Medium of last booking in meetings tool"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Source of last booking in meetings tool"
              },
              {
                "name": "fax",
                "type": "text",
                "label": "Fax Number"
              },
              {
                "name": "field_of_study",
                "type": "text",
                "label": "Field of study"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "First Conversion Date"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "First Conversion"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "First Deal Created Date"
              },
              {
                "name": "firstname",
                "type": "text",
                "label": "First Name"
              },
              {
                "name": "followercount",
                "type": "number",
                "label": "Follower Count"
              },
              {
                "name": "gender",
                "type": "text",
                "label": "Gender"
              },
              {
                "name": "graduation_date",
                "type": "text",
                "label": "Graduation date"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Additional email addresses"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "All teams"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Brands"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "All vids for a contact"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "All owner IDs"
              },
              {
                "name": "hs_all_team_ids",
                "type": "text",
                "label": "All team IDs"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Average Pageviews"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "First Referring Site"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Time First Seen"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "First Touch Converting Campaign"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "First Page Seen"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Time of First Session"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Last Referring Site"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Time Last Seen"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Last Touch Converting Campaign"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Last Page Seen"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Time of Last Session"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Number of event completions"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Number of Pageviews"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Number of Sessions"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Event Revenue"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Original Traffic Source"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Original Traffic Source Composite Data"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Original Traffic Source Drill-Down 1"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Original Traffic Source Drill-Down 2"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Associated Target Accounts"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Avatar FileManager key"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Bing ad clicked"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Bing click id"
              },
              {
                "name": "hs_buying_role",
                "type": "text",
                "label": "Buying Role"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "The 800 most recent form submissions for a contact"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Merged vids with timestamps of a contact"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Calculated Mobile Number in International Format"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Calculated Phone Number in International Format"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Calculated Phone Number Area Code"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Calculated Phone Number Country Code"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Calculated Phone Number Region"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Chat Assistant IQL Date"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Chat Assistant Source"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Chat Assistant:Summary"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Clicked on a LinkedIn Ad"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Contact creation legal basis source instance ID"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Enrichment opt out"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Enrichment opt out timestamp"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Member email"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Email Confirmed"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Time enrolled in registration follow up emails"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Membership Notes"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Registered At"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Domain to which registration email was sent"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Time registration email was sent"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Status"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Conversations visitor email"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Count of unengaged contacts"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Count of engaged contacts"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Country/Region Code"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Created By Conversations"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Created by user ID"
              },
              {
                "name": "hs_createdate",
                "type": "date",
                "label": "Object create date/time"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Cross-Account Note"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Cross-sell Opportunity"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Current Customer"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Currently Enrolled in Prospecting Agent"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Customer Agent Lead Status"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Ads Consent from Forms"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Recent Document Revisit Date"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Invalid email address"
              },
              {
                "name": "hs_email_bounce",
                "type": "number",
                "label": "Marketing emails bounced"
              },
              {
                "name": "hs_email_click",
                "type": "number",
                "label": "Marketing emails clicked"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Email address quarantine reason"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Marketing emails delivered"
              },
              {
                "name": "hs_email_domain",
                "type": "text",
                "label": "Email Domain"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "First marketing email click date"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "First marketing email open date"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "First marketing email reply date"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "First marketing email send date"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Email hard bounce reason"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Email hard bounce reason"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Is globally ineligible"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Last marketing email click date"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Last marketing email name"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Last marketing email open date"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Last marketing email reply date"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Last marketing email send date"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Email live sourcing restricted"
              },
              {
                "name": "hs_email_open",
                "type": "number",
                "label": "Marketing emails opened"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Optimal Marketing Email Send Day of Week"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Optimal Marketing Email Send Time of Day "
              },
              {
                "name": "hs_email_optout",
                "type": "text",
                "label": "Unsubscribed from all email"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Opted out of email: Marketing Information"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Opted out of email: One to One"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Email Address Quarantined"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Email address automated quarantine reason"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Email Address Recipient Fatigue Next Available Sending Time"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Marketing emails replied"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Sends Since Last Engagement"
              },
              {
                "name": "hs_email_type",
                "type": "text",
                "label": "Email type"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Marketing email confirmation status"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Employment change detected date"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Enriched Email Bounce Detected (Deprecated)"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Clicked Facebook ad"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Facebook click id"
              },
              {
                "name": "hs_facebookid",
                "type": "text",
                "label": "Facebook ID"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Last CES survey date"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Last CES survey comment"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Last CES survey rating"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Last CSAT survey date"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Last CSAT survey comment"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Last CSAT survey rating"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Last NPS survey comment"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Last NPS survey rating (deprecated)"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Latest NPS survey rating"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Last NPS survey date"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Should be shown an NPS web survey"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "First Closed Order ID"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "ID of first engagement"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "First Order Closed Date"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "First outreach date"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "First subscription create date"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Full name or email"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Google ad click id"
              },
              {
                "name": "hs_googleplusid",
                "type": "text",
                "label": "googleplus ID"
              },
              {
                "name": "hs_gps_error",
                "type": "text",
                "label": "GPS Error"
              },
              {
                "name": "hs_gps_latitude",
                "type": "text",
                "label": "Latitudes"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Longitudes"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Contact has an active subscription"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Inferred Language Codes"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Intent paid up to date"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Intent Signals active"
              },
              {
                "name": "hs_ip_timezone",
                "type": "text",
                "label": "IP Timezone"
              },
              {
                "name": "hs_is_contact",
                "type": "text",
                "label": "Is a contact"
              },
              {
                "name": "hs_is_enriched",
                "type": "text",
                "label": "Has been enriched"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Is Merge Revertible"
              },
              {
                "name": "hs_is_unworked",
                "type": "text",
                "label": "Contact unworked"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Job change detected date"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Journey Stage"
              },
              {
                "name": "hs_language",
                "type": "text",
                "label": "Preferred language"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Last Metered Enrichment Timestamp"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "last sales activity date old"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Last Engagement Date"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Last Engagement Type"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Last Sms Send Date"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Last SMS Send Name"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Object last modified date/time"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Latest Disqualified Lead Date"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Latest meeting activity"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Latest Open Lead Date"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Latest Qualified Lead Date"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Last sequence ended date"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Last sequence enrolled"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Last sequence enrolled date"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Last sequence finished date"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Last sequence unenrolled date"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Latest Traffic Source"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Latest Traffic Source Composite Data"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Latest Traffic Source Drill-Down 1"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Latest Traffic Source Drill-Down 2"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Latest Traffic Source Date"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Latest subscription create date"
              },
              {
                "name": "hs_latitude",
                "type": "number",
                "label": "Latitude"
              },
              {
                "name": "hs_lead_status",
                "type": "text",
                "label": "Lead Status"
              },
              {
                "name": "hs_legal_basis",
                "type": "text",
                "label": "Legal basis for processing contact's data"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Clicked LinkedIn Ad"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "LinkedIn click id"
              },
              {
                "name": "hs_linkedin_url",
                "type": "text",
                "label": "LinkedIn URL"
              },
              {
                "name": "hs_linkedinid",
                "type": "text",
                "label": "Linkedin ID"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Live enrichment deadline"
              },
              {
                "name": "hs_longitude",
                "type": "number",
                "label": "Longitude"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Manual campaign ids"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Marketing contact status source name"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Marketing contact status source type"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Marketing contact status"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Marketing contact until next update"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Member has accessed private content"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Membership last private content access date"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Merged Contact IDs"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "SECRET_PLACEHOLDER"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Mobile Sdk Push Tokens"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Last Activity"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Next Activity"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Next Activity Type"
              },
              {
                "name": "hs_object_id",
                "type": "number",
                "label": "Record ID"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Record creation source"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Record source detail 1"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Record source detail 2"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Record source detail 3"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Record creation source ID"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Record source"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Record creation source user ID"
              },
              {
                "name": "hs_owning_teams",
                "type": "text",
                "label": "Owning Teams"
              },
              {
                "name": "hs_persona",
                "type": "text",
                "label": "Persona"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Pinned engagement ID"
              },
              {
                "name": "hs_pipeline",
                "type": "text",
                "label": "Pipeline"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Predictive Lead Score"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Likelihood to close"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Lead Rating"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Contact priority"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Prospecting Agent Actively Enrolled Count"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Prospecting Agent Last Enrolled"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Prospecting Agent Total Enrolled Count"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Quarantined Emails"
              },
              {
                "name": "hs_read_only",
                "type": "text",
                "label": "Read only object"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Recent Closed Order Date"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Registered member"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Registration Method"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Returning to office detected date"
              },
              {
                "name": "hs_role",
                "type": "text",
                "label": "Employment Role"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Date of first engagement"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Description of first engagement"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Type of first engagement"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Recent Sales Email Clicked Date"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Recent Sales Email Opened Date"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Recent Sales Email Replied Date"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Calculated Mobile Number with country code"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Calculated Phone Number with country code"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Calculated Mobile Number without country code"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Calculated Phone Number without country code"
              },
              {
                "name": "hs_seniority",
                "type": "text",
                "label": "Employment Seniority"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Number of sequences actively enrolled"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Number of sequences enrolled"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Currently in Sequence"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Shared teams"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Shared users"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Facebook Clicks"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Google Plus Clicks"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Most Recent Social Click"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "LinkedIn Clicks"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Broadcast Clicks"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Twitter Clicks"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Source Object ID"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Source Portal ID"
              },
              {
                "name": "hs_state_code",
                "type": "text",
                "label": "State/Region Code"
              },
              {
                "name": "hs_sub_role",
                "type": "text",
                "label": "Employment Sub Role"
              },
              {
                "name": "hs_testpurge",
                "type": "text",
                "label": "testpurge"
              },
              {
                "name": "hs_testrollback",
                "type": "text",
                "label": "testrollback"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "TikTok ad clicked"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "TikTok click id"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Time between contact creation and deal close"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Time between contact creation and deal creation"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Lead response time"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Time to move from lead to customer"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Time to move from marketing qualified lead to customer"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Time to move from opportunity to customer"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Time to move from sales qualified lead to customer"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Time to move from subscriber to customer"
              },
              {
                "name": "hs_timezone",
                "type": "text",
                "label": "Time Zone"
              },
              {
                "name": "hs_twitterid",
                "type": "text",
                "label": "Twitter ID"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Unique creation key"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Updated by user ID"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "User IDs of all notification followers"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "User IDs of all notification unfollowers"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "User IDs of all owners"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Cumulative time in \"Customer (Lifecycle Stage Pipeline)\""
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Cumulative time in \"Evangelist (Lifecycle Stage Pipeline)\""
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Cumulative time in \"Lead (Lifecycle Stage Pipeline)\""
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Cumulative time in \"Marketing Qualified Lead (Lifecycle Stage Pipeline)\""
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Cumulative time in \"Opportunity (Lifecycle Stage Pipeline)\""
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Cumulative time in \"Other (Lifecycle Stage Pipeline)\""
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Cumulative time in \"Sales Qualified Lead (Lifecycle Stage Pipeline)\""
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Cumulative time in \"Subscriber (Lifecycle Stage Pipeline)\""
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Date entered current stage"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Date entered \"Customer (Lifecycle Stage Pipeline)\""
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Date entered \"Evangelist (Lifecycle Stage Pipeline)\""
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Date entered \"Lead (Lifecycle Stage Pipeline)\""
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Date entered \"Marketing Qualified Lead (Lifecycle Stage Pipeline)\""
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Date entered \"Opportunity (Lifecycle Stage Pipeline)\""
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Date entered \"Other (Lifecycle Stage Pipeline)\""
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Date entered \"Sales Qualified Lead (Lifecycle Stage Pipeline)\""
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Date entered \"Subscriber (Lifecycle Stage Pipeline)\""
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Date exited \"Customer (Lifecycle Stage Pipeline)\""
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Date exited \"Evangelist (Lifecycle Stage Pipeline)\""
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Date exited \"Lead (Lifecycle Stage Pipeline)\""
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Date exited \"Marketing Qualified Lead (Lifecycle Stage Pipeline)\""
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Date exited \"Opportunity (Lifecycle Stage Pipeline)\""
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Date exited \"Other (Lifecycle Stage Pipeline)\""
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Date exited \"Sales Qualified Lead (Lifecycle Stage Pipeline)\""
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Date exited \"Subscriber (Lifecycle Stage Pipeline)\""
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Latest time in \"Customer (Lifecycle Stage Pipeline)\""
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Latest time in \"Evangelist (Lifecycle Stage Pipeline)\""
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Latest time in \"Lead (Lifecycle Stage Pipeline)\""
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Latest time in \"Marketing Qualified Lead (Lifecycle Stage Pipeline)\""
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Latest time in \"Opportunity (Lifecycle Stage Pipeline)\""
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Latest time in \"Other (Lifecycle Stage Pipeline)\""
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Latest time in \"Sales Qualified Lead (Lifecycle Stage Pipeline)\""
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Latest time in \"Subscriber (Lifecycle Stage Pipeline)\""
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Time in current stage"
              },
              {
                "name": "hs_was_imported",
                "type": "text",
                "label": "Performed in an import"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "WhatsApp Phone Number"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Owner assigned date"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Contact owner"
              },
              {
                "name": "hubspot_team_id",
                "type": "text",
                "label": "HubSpot Team"
              },
              {
                "name": "hubspotscore",
                "type": "number",
                "label": "HubSpot Score"
              },
              {
                "name": "industry",
                "type": "text",
                "label": "Industry"
              },
              {
                "name": "ip_city",
                "type": "text",
                "label": "IP City"
              },
              {
                "name": "ip_country",
                "type": "text",
                "label": "IP Country"
              },
              {
                "name": "ip_country_code",
                "type": "text",
                "label": "IP Country Code"
              },
              {
                "name": "ip_latlon",
                "type": "text",
                "label": "IP Latitude & Longitude"
              },
              {
                "name": "ip_state",
                "type": "text",
                "label": "IP State/Region"
              },
              {
                "name": "ip_state_code",
                "type": "text",
                "label": "IP State Code/Region Code"
              },
              {
                "name": "ip_zipcode",
                "type": "text",
                "label": "IP Zipcode"
              },
              {
                "name": "job_function",
                "type": "text",
                "label": "Job function"
              },
              {
                "name": "jobtitle",
                "type": "text",
                "label": "Job Title"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Klout Score"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Last Modified Date"
              },
              {
                "name": "lastname",
                "type": "text",
                "label": "Last Name"
              },
              {
                "name": "lifecyclestage",
                "type": "text",
                "label": "Lifecycle Stage"
              },
              {
                "name": "linkedinbio",
                "type": "text",
                "label": "LinkedIn Bio"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Placeholder connection"
              },
              {
                "name": "marital_status",
                "type": "text",
                "label": "Marital Status"
              },
              {
                "name": "message",
                "type": "text",
                "label": "Message"
              },
              {
                "name": "military_status",
                "type": "text",
                "label": "Military status"
              },
              {
                "name": "mobilephone",
                "type": "text",
                "label": "Mobile Phone Number"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Last Contacted"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Last Activity Date"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Next Activity Date"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Number of Associated Deals"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Number of times contacted"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Number of Form Submissions"
              },
              {
                "name": "num_notes",
                "type": "number",
                "label": "Number of Sales Activities"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Number of Unique Forms Submitted"
              },
              {
                "name": "numemployees",
                "type": "text",
                "label": "Number of Employees"
              },
              {
                "name": "owneremail",
                "type": "text",
                "label": "HubSpot Owner Email (legacy)"
              },
              {
                "name": "ownername",
                "type": "text",
                "label": "HubSpot Owner Name (legacy)"
              },
              {
                "name": "phone",
                "type": "text",
                "label": "Phone Number"
              },
              {
                "name": "photo",
                "type": "text",
                "label": "Photo"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Recent Conversion Date"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Recent Conversion"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Recent Deal Amount"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "Recent Deal Close Date"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Relationship Status"
              },
              {
                "name": "salutation",
                "type": "text",
                "label": "Salutation"
              },
              {
                "name": "school",
                "type": "text",
                "label": "School"
              },
              {
                "name": "seniority",
                "type": "text",
                "label": "Seniority"
              },
              {
                "name": "start_date",
                "type": "text",
                "label": "Start date"
              },
              {
                "name": "state",
                "type": "text",
                "label": "State/Region"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "SurveyMonkey Event Last Updated"
              },
              {
                "name": "total_revenue",
                "type": "number",
                "label": "Total Revenue"
              },
              {
                "name": "twitterbio",
                "type": "text",
                "label": "Twitter Bio"
              },
              {
                "name": "twitterhandle",
                "type": "text",
                "label": "Twitter Username"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "text",
                "label": "Twitter Profile Photo"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "number",
                "label": "Webinar Event Last Updated"
              },
              {
                "name": "website",
                "type": "text",
                "label": "Website URL"
              },
              {
                "name": "work_email",
                "type": "text",
                "label": "Work email"
              },
              {
                "name": "zip",
                "type": "text",
                "label": "Postal Code"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "date",
                "label": "HS Last Modified Date"
              },
              {
                "name": "hs_object_id",
                "type": "text",
                "label": "HS Object ID"
              }
            ],
            "type": "collection",
            "label": "Properties"
          },
          {
            "name": "createdAt",
            "type": "date",
            "label": "Created At"
          },
          {
            "name": "updatedAt",
            "type": "date",
            "label": "Updated At"
          },
          {
            "name": "archived",
            "type": "boolean",
            "label": "Archived"
          }
        ]
      }
    },
    {
      "id": 4,
      "module": "gemini-ai:createACompletionGeminiPro",
      "version": 1,
      "parameters": {
        "__IMTCONN__": 0
      },
      "mapper": {
        "model": "gemini-2.5-flash",
        "contents": [
          {
            "role": "user",
            "parts": [
              {
                "text": "Generate the welcome email",
                "type": "text"
              }
            ]
          }
        ],
        "generationConfig": {
          "imageConfig": {},
          "thinkingConfig": {}
        },
        "system_instruction": {
          "parts": [
            {
              "text": "You are a client success manager. Write a professional and warm welcome email in HTML format for a new client.\r\n\r\nClient Name: {{Client}}{{Name}}{{from}}{{Airtable}}\r\nCompany: {{Company}}{{from}}{{Airtable}}\r\nService Type: {{Service}}{{Type}}{{from}}{{Airtable}}\r\nAssigned To: {{Assigned}}{{To}}{{from}}{{Airtable}}\r\n\r\nRequirements:\r\n- Address the client by their first name\r\n- Mention the specific service they signed up for\r\n- Mention their assigned team member by name\r\n- Include next steps: kickoff call within 24 hours, project workspace access coming soon\r\n- Warm and professional tone\r\n- Primary color teal (#008080) for headings\r\n- Sign off as \"The Onboarding Team\"\r\n- Return only the HTML email body, nothing else"
            }
          ]
        }
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0
        },
        "restore": {
          "expect": {
            "model": {
              "mode": "chose",
              "label": "Gemini 2.5 Flash"
            },
            "contents": {
              "mode": "chose",
              "items": [
                {
                  "role": {
                    "mode": "chose",
                    "label": "User"
                  },
                  "parts": {
                    "mode": "chose",
                    "items": [
                      {
                        "type": {
                          "mode": "chose",
                          "label": "Text"
                        }
                      }
                    ]
                  }
                }
              ]
            },
            "url_context": {
              "mode": "chose"
            },
            "code_execution": {
              "mode": "chose"
            },
            "safetySettings": {
              "mode": "chose"
            },
            "generationConfig": {
              "nested": {
                "imageConfig": {
                  "nested": {
                    "imageSize": {
                      "mode": "chose",
                      "label": "Empty"
                    }
                  }
                },
                "stopSequences": {
                  "mode": "chose"
                },
                "thinkingConfig": {
                  "nested": {
                    "thinking_level": {
                      "mode": "chose",
                      "label": "Empty"
                    },
                    "include_thoughts": {
                      "mode": "chose"
                    }
                  }
                },
                "mediaResolution": {
                  "mode": "chose",
                  "label": "Empty"
                },
                "responseMimeType": {
                  "mode": "chose",
                  "label": "Empty"
                },
                "responseModalities": {
                  "mode": "chose"
                }
              }
            },
            "system_instruction": {
              "nested": {
                "parts": {
                  "mode": "chose",
                  "items": [
                    null
                  ]
                }
              }
            },
            "google_maps_context": {
              "mode": "chose"
            },
            "google_search_context": {
              "mode": "chose"
            },
            "file_search_store_context": {
              "mode": "chose"
            },
            "function_declarations_context": {
              "mode": "chose"
            }
          },
          "parameters": {
            "__IMTCONN__": 0
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:gemini-ai-q9zyjp",
            "label": "Placeholder connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "model",
            "type": "select",
            "label": "AI Model",
            "required": true
          },
          {
            "name": "contents",
            "spec": [
              {
                "name": "role",
                "type": "select",
                "label": "Role",
                "options": [
                  {
                    "label": "User",
                    "value": "user"
                  },
                  {
                    "label": "Model",
                    "value": "model"
                  }
                ]
              },
              {
                "name": "parts",
                "spec": [
                  {
                    "name": "type",
                    "type": "select",
                    "label": "Message Type",
                    "options": [
                      {
                        "label": "Text",
                        "value": "text",
                        "nested": [
                          {
                            "name": "text",
                            "type": "text",
                            "label": "Text",
                            "required": false
                          }
                        ]
                      },
                      {
                        "label": "File",
                        "value": "file",
                        "nested": [
                          {
                            "name": "file_data",
                            "spec": [
                              {
                                "name": "mime_type",
                                "type": "text",
                                "label": "Mime Type",
                                "required": false
                              },
                              {
                                "help": "You can use public or signed URLs as input by using the URLs.",
                                "name": "file_uri",
                                "type": "text",
                                "label": "File URI",
                                "required": false
                              }
                            ],
                            "type": "collection",
                            "label": "File Data",
                            "required": false
                          }
                        ]
                      },
                      {
                        "label": "Function Call",
                        "value": "functionCall",
                        "nested": [
                          {
                            "name": "functionCall",
                            "spec": [
                              {
                                "help": "The name of the function to call.",
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true,
                                "validate": {
                                  "max": 64
                                }
                              },
                              {
                                "help": "The function parameters and values in JSON object format.",
                                "name": "args",
                                "type": "json",
                                "label": "Arguments"
                              },
                              {
                                "help": "The unique ID of the function call.",
                                "name": "id",
                                "type": "text",
                                "label": "Function Call ID"
                              }
                            ],
                            "type": "collection",
                            "label": "Function Call"
                          }
                        ]
                      },
                      {
                        "label": "Function Response",
                        "value": "SECRET_PLACEHOLDER",
                        "nested": [
                          {
                            "name": "SECRET_PLACEHOLDER",
                            "spec": [
                              {
                                "help": "The name of the function to call.",
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true,
                                "validate": {
                                  "max": 64
                                }
                              },
                              {
                                "help": "The function response in JSON object format.",
                                "name": "response",
                                "type": "json",
                                "label": "Response",
                                "required": true
                              }
                            ],
                            "type": "collection",
                            "label": "Function Response"
                          }
                        ]
                      }
                    ]
                  },
                  {
                    "name": "SECRET_PLACEHOLDER",
                    "type": "text",
                    "label": "Thought Signature"
                  }
                ],
                "type": "array",
                "label": "Parts"
              }
            ],
            "type": "array",
            "label": "Messages",
            "required": true
          },
          {
            "name": "SECRET_PLACEHOLDER",
            "spec": [
              {
                "name": "parts",
                "spec": {
                  "name": "value",
                  "spec": [
                    {
                      "name": "text",
                      "type": "text",
                      "label": "Value"
                    }
                  ],
                  "type": "collection",
                  "label": "Prompt"
                },
                "type": "array",
                "label": "Prompts"
              }
            ],
            "type": "collection",
            "label": "System Instructions"
          },
          {
            "name": "safetySettings",
            "spec": [
              {
                "name": "category",
                "type": "select",
                "label": "Category",
                "options": [
                  {
                    "label": "Harassment content",
                    "value": "SECRET_PLACEHOLDER"
                  },
                  {
                    "label": "Hate speech and content",
                    "value": "SECRET_PLACEHOLDER"
                  },
                  {
                    "label": "Sexually explicit content.",
                    "value": "SECRET_PLACEHOLDER"
                  },
                  {
                    "label": "Dangerous content:",
                    "value": "SECRET_PLACEHOLDER"
                  }
                ]
              },
              {
                "name": "threshold",
                "type": "select",
                "label": "Threshold",
                "options": [
                  {
                    "label": "Block low and above.",
                    "value": "SECRET_PLACEHOLDER"
                  },
                  {
                    "label": "Block medium and above.",
                    "value": "SECRET_PLACEHOLDER"
                  },
                  {
                    "label": "Block only high.",
                    "value": "BLOCK_ONLY_HIGH"
                  },
                  {
                    "label": "Block none.",
                    "value": "BLOCK_NONE"
                  }
                ]
              }
            ],
            "type": "array",
            "label": "Safety Settings"
          },
          {
            "name": "SECRET_PLACEHOLDER",
            "spec": [
              {
                "name": "stopSequences",
                "spec": {
                  "name": "value",
                  "type": "text",
                  "label": "Stop Sequence"
                },
                "type": "array",
                "label": "Stop Sequences"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "select",
                "label": "Response Modalities",
                "multiple": true,
                "validate": {
                  "enum": [
                    "text",
                    "image"
                  ]
                }
              },
              {
                "name": "maxOutputTokens",
                "type": "number",
                "label": "Max Output Tokens"
              },
              {
                "name": "temperature",
                "type": "number",
                "label": "Temperature",
                "validate": {
                  "max": 1,
                  "min": 0
                }
              },
              {
                "name": "topP",
                "type": "number",
                "label": "Top P",
                "validate": {
                  "max": 1,
                  "min": 0
                }
              },
              {
                "name": "topK",
                "type": "number",
                "label": "Top K"
              },
              {
                "name": "thinkingConfig",
                "spec": [
                  {
                    "name": "thinkingBudget",
                    "type": "number",
                    "label": "Thinking Budget"
                  },
                  {
                    "name": "SECRET_PLACEHOLDER",
                    "type": "boolean",
                    "label": "Include Thoughts"
                  },
                  {
                    "name": "thinking_level",
                    "type": "select",
                    "label": "Thinking Level",
                    "validate": {
                      "enum": [
                        "low",
                        "high"
                      ]
                    }
                  }
                ],
                "type": "collection",
                "label": "Thinking Config"
              },
              {
                "name": "mediaResolution",
                "type": "select",
                "label": "Media Resolution",
                "validate": {
                  "enum": [
                    "media_resolution_low",
                    "media_resolution_medium",
                    "media_resolution_high"
                  ]
                }
              },
              {
                "name": "imageConfig",
                "spec": [
                  {
                    "name": "imageSize",
                    "type": "select",
                    "label": "Image Size",
                    "validate": {
                      "enum": [
                        "1K",
                        "2K",
                        "4K"
                      ]
                    }
                  }
                ],
                "type": "collection",
                "label": "Image Configuration"
              },
              {
                "name": "SECRET_PLACEHOLDER",
                "type": "select",
                "label": "Response Format"
              }
            ],
            "type": "collection",
            "label": "Generation configurations"
          },
          {
            "name": "tools",
            "type": "any",
            "label": "Tools"
          },
          {
            "name": "tool_config",
            "type": "any",
            "label": "Tool Config"
          },
          {
            "name": "SECRET_PLACEHOLDER",
            "type": "boolean",
            "label": "Function Declarations Grounding"
          },
          {
            "name": "url_context",
            "type": "boolean",
            "label": "URL Context"
          },
          {
            "name": "SECRET_PLACEHOLDER",
            "type": "boolean",
            "label": "Google Search Grounding"
          },
          {
            "name": "code_execution",
            "type": "boolean",
            "label": "Code Execution"
          },
          {
            "name": "SECRET_PLACEHOLDER",
            "type": "boolean",
            "label": "Google Maps Grounding"
          },
          {
            "name": "SECRET_PLACEHOLDER",
            "type": "boolean",
            "label": "File Search Store Context"
          }
        ]
      }
    },
    {
      "id": 3,
      "module": "google-email:sendAnEmail",
      "version": 4,
      "parameters": {
        "__IMTCONN__": 0
      },
      "mapper": {
        "to": [
          "{{1.Email}}"
        ],
        "content": "{{4.candidates[].content.parts[].text}}",
        "subject": "Welcome aboard, {{1.`Client Name`}}!",
        "bodyType": "rawHtml"
      },
      "metadata": {
        "designer": {
          "x": 900,
          "y": 0
        },
        "restore": {
          "expect": {
            "cc": {
              "mode": "chose"
            },
            "to": {
              "mode": "chose",
              "items": [
                null
              ]
            },
            "bcc": {
              "mode": "chose"
            },
            "from": {
              "mode": "chose",
              "label": "Empty"
            },
            "bodyType": {
              "label": "Raw HTML"
            },
            "attachments": {
              "mode": "chose"
            },
            "emailHeaders": {
              "mode": "chose"
            }
          },
          "parameters": {
            "__IMTCONN__": 0
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:google-email",
            "label": "Placeholder connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "to",
            "spec": {
              "name": "value",
              "type": "email",
              "label": "Recipient email address",
              "required": true,
              "validate": true
            },
            "type": "array",
            "label": "To",
            "required": true
          },
          {
            "name": "subject",
            "type": "text",
            "label": "Subject"
          },
          {
            "name": "bodyType",
            "type": "select",
            "label": "Body type",
            "required": true,
            "validate": {
              "enum": [
                "rawHtml",
                "collection"
              ]
            }
          },
          {
            "name": "attachments",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": "filename",
                  "type": "filename",
                  "label": "File name",
                  "required": true,
                  "semantic": "file:name"
                },
                {
                  "name": "data",
                  "type": "buffer",
                  "label": "Data",
                  "required": true,
                  "semantic": "file:data"
                }
              ],
              "type": "collection",
              "label": "Attachment"
            },
            "type": "array",
            "label": "Attachments"
          },
          {
            "name": "from",
            "type": "select",
            "label": "From"
          },
          {
            "name": "cc",
            "spec": {
              "name": "value",
              "type": "email",
              "label": "Recipient email address"
            },
            "type": "array",
            "label": "CC recipients"
          },
          {
            "name": "bcc",
            "spec": {
              "name": "value",
              "type": "email",
              "label": "Recipient email address"
            },
            "type": "array",
            "label": "BCC recipients"
          },
          {
            "name": "emailHeaders",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": "key",
                  "type": "text",
                  "label": "Key",
                  "required": true
                },
                {
                  "name": "value",
                  "type": "text",
                  "label": "Value"
                }
              ],
              "type": "collection",
              "label": "Email header"
            },
            "type": "array",
            "label": "Additional email headers"
          },
          {
            "name": "content",
            "type": "text",
            "label": "Content"
          }
        ]
      }
    },
    {
      "id": 6,
      "module": "slack:CreateMessage",
      "version": 4,
      "parameters": {
        "__IMTCONN__": 0
      },
      "mapper": {
        "text": "*New Client Onboarded!*\n*Client:* {{1.`Client Name`}}\n*Company:* {{1.Company}}\n*Service:* {{1.`Service Type`}}\n*Budget:* {{1.Budget}}\n*Assigned To:* {{1.`Assigned To`}}\n\nWelcome email sent\nHubSpot contact created",
        "parse": false,
        "mrkdwn": true,
        "channel": "CHANNEL_PLACEHOLDER",
        "channelType": "public",
        "channelWType": "list"
      },
      "metadata": {
        "designer": {
          "x": 1200,
          "y": 0
        },
        "restore": {
          "expect": {
            "parse": {
              "mode": "chose"
            },
            "mrkdwn": {
              "mode": "chose"
            },
            "channel": "CHANNEL_PLACEHOLDER",
            "link_names": {
              "mode": "chose"
            },
            "channelType": {
              "label": "Public channel"
            },
            "channelWType": {
              "label": "Select from the list"
            },
            "unfurl_links": {
              "mode": "chose"
            },
            "unfurl_media": {
              "mode": "chose"
            },
            "reply_broadcast": {
              "mode": "chose"
            }
          },
          "parameters": {
            "__IMTCONN__": 0
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:slack2,slack3",
            "label": "Placeholder connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "channelWType",
            "type": "select",
            "label": "Enter a channel ID or name",
            "required": true,
            "validate": {
              "enum": [
                "manualy",
                "list"
              ]
            }
          },
          {
            "name": "text",
            "type": "text",
            "label": "Text"
          },
          {
            "name": "blocks",
            "type": "text",
            "label": "Blocks"
          },
          {
            "name": "thread_ts",
            "type": "text",
            "label": "Thread message ID (time stamp)"
          },
          {
            "name": "reply_broadcast",
            "type": "boolean",
            "label": "Reply broadcast"
          },
          {
            "name": "link_names",
            "type": "boolean",
            "label": "Link names"
          },
          {
            "name": "parse",
            "type": "boolean",
            "label": "Parse message text"
          },
          {
            "name": "mrkdwn",
            "type": "boolean",
            "label": "Use markdown"
          },
          {
            "name": "unfurl_links",
            "type": "boolean",
            "label": "Unfurl primarily text-based content"
          },
          {
            "name": "unfurl_media",
            "type": "boolean",
            "label": "Unfurl media content"
          },
          {
            "name": "icon_emoji",
            "type": "text",
            "label": "Icon emoji"
          },
          {
            "name": "icon_url",
            "type": "url",
            "label": "Icon url"
          },
          {
            "name": "username",
            "type": "text",
            "label": "User name"
          },
          {
            "name": "channelType",
            "type": "select",
            "label": "Channel type",
            "required": true,
            "validate": {
              "enum": [
                "public",
                "private",
                "im",
                "mpim"
              ]
            }
          },
          {
            "name": "channel",
            "type": "select",
            "label": "Public channel",
            "required": true
          }
        ]
      }
    },
    {
      "id": 7,
      "module": "google-drive:createAFolder",
      "version": 4,
      "parameters": {
        "__IMTCONN__": 0
      },
      "mapper": {
        "name": "{{1.`Client Name`}} - {{1.Company}}",
        "shared": false,
        "folderId": "FOLDER_PLACEHOLDER",
        "destination": "drive"
      },
      "metadata": {
        "designer": {
          "x": 1500,
          "y": 0
        },
        "restore": {
          "expect": {
            "folderId": "FOLDER_PLACEHOLDER",
            "destination": {
              "label": "My Drive"
            }
          },
          "parameters": {
            "__IMTCONN__": 0
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:google-restricted",
            "label": "Placeholder connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "destination",
            "type": "select",
            "label": "New Drive Location",
            "required": true,
            "validate": {
              "enum": [
                "drive",
                "share",
                "team"
              ]
            }
          },
          {
            "name": "folderId",
            "type": "folder",
            "label": "New Folder Location",
            "required": true
          },
          {
            "name": "name",
            "type": "text",
            "label": "New Folder's Name"
          },
          {
            "name": "shared",
            "type": "boolean",
            "label": "Share Folder",
            "required": true
          }
        ]
      }
    },
    {
      "id": 12,
      "module": "google-sheets:addRow",
      "version": 2,
      "parameters": {
        "__IMTCONN__": 0
      },
      "mapper": {
        "mode": "fromAll",
        "insertUnformatted": false,
        "valueInputOption": "USER_ENTERED",
        "insertDataOption": "INSERT_ROWS",
        "spreadsheetId": "SPREADSHEET_PLACEHOLDER",
        "sheetId": "Clients",
        "includesHeaders": true,
        "useColumnHeaders": false,
        "values": {
          "0": "{{1.`Client Name`}}",
          "1": "{{1.Company}}",
          "2": "{{1.Email}}",
          "3": "{{1.Phone}}",
          "4": "{{1.`Service Type`}}",
          "5": "{{1.Budget}}",
          "6": "{{1.`Start Date`}}",
          "7": "{{1.`Assigned To`}}",
          "8": "{{1.Status}}",
          "9": "{{1.Notes}}"
        }
      },
      "metadata": {
        "designer": {
          "x": 1800,
          "y": 0
        },
        "restore": {
          "parameters": {
            "__IMTCONN__": 0
          },
          "expect": {
            "mode": {
              "label": "Select from all"
            },
            "insertUnformatted": {
              "mode": "chose"
            },
            "valueInputOption": {
              "mode": "chose",
              "label": "User entered"
            },
            "insertDataOption": {
              "mode": "chose",
              "label": "Insert rows"
            },
            "sheetId": {
              "mode": "chose",
              "label": "Clients"
            },
            "includesHeaders": {
              "label": "Yes"
            },
            "useColumnHeaders": {
              "nested": [
                {
                  "name": "values",
                  "label": "Values in columns",
                  "type": "collection",
                  "spec": [
                    {
                      "name": "0",
                      "label": "Client Name (A)",
                      "type": "text"
                    },
                    {
                      "name": "1",
                      "label": "Company (B)",
                      "type": "text"
                    },
                    {
                      "name": "2",
                      "label": "Email (C)",
                      "type": "text"
                    },
                    {
                      "name": "3",
                      "label": "Phone (D)",
                      "type": "text"
                    },
                    {
                      "name": "4",
                      "label": "Service Type (E)",
                      "type": "text"
                    },
                    {
                      "name": "5",
                      "label": "Budget (F)",
                      "type": "text"
                    },
                    {
                      "name": "6",
                      "label": "Start Date (G)",
                      "type": "text"
                    },
                    {
                      "name": "7",
                      "label": "Assigned To (H)",
                      "type": "text"
                    },
                    {
                      "name": "8",
                      "label": "Status (I)",
                      "type": "text"
                    },
                    {
                      "name": "9",
                      "label": "Notes (J)",
                      "type": "text"
                    },
                    {
                      "name": "10",
                      "label": "(K)",
                      "type": "text"
                    },
                    {
                      "name": "11",
                      "label": "(L)",
                      "type": "text"
                    },
                    {
                      "name": "12",
                      "label": "(M)",
                      "type": "text"
                    },
                    {
                      "name": "13",
                      "label": "(N)",
                      "type": "text"
                    },
                    {
                      "name": "14",
                      "label": "(O)",
                      "type": "text"
                    },
                    {
                      "name": "15",
                      "label": "(P)",
                      "type": "text"
                    },
                    {
                      "name": "16",
                      "label": "(Q)",
                      "type": "text"
                    },
                    {
                      "name": "17",
                      "label": "(R)",
                      "type": "text"
                    },
                    {
                      "name": "18",
                      "label": "(S)",
                      "type": "text"
                    },
                    {
                      "name": "19",
                      "label": "(T)",
                      "type": "text"
                    },
                    {
                      "name": "20",
                      "label": "(U)",
                      "type": "text"
                    },
                    {
                      "name": "21",
                      "label": "(V)",
                      "type": "text"
                    },
                    {
                      "name": "22",
                      "label": "(W)",
                      "type": "text"
                    },
                    {
                      "name": "23",
                      "label": "(X)",
                      "type": "text"
                    },
                    {
                      "name": "24",
                      "label": "(Y)",
                      "type": "text"
                    },
                    {
                      "name": "25",
                      "label": "(Z)",
                      "type": "text"
                    }
                  ],
                  "metadata": [
                    [
                      [
                        "Client Name",
                        "Company",
                        "Email",
                        "Phone",
                        "Service Type",
                        "Budget",
                        "Start Date",
                        "Assigned To",
                        "Status",
                        "Notes"
                      ]
                    ]
                  ]
                }
              ],
              "label": "No"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:google",
            "label": "Placeholder connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "mode",
            "type": "select",
            "label": "Search Method",
            "required": true,
            "validate": {
              "enum": [
                "select",
                "fromAll",
                "map"
              ]
            }
          },
          {
            "name": "SECRET_PLACEHOLDER",
            "type": "boolean",
            "label": "Unformatted",
            "required": true
          },
          {
            "name": "SECRET_PLACEHOLDER",
            "type": "select",
            "label": "Value input option",
            "validate": {
              "enum": [
                "USER_ENTERED",
                "RAW"
              ]
            }
          },
          {
            "name": "SECRET_PLACEHOLDER",
            "type": "select",
            "label": "Insert data option",
            "validate": {
              "enum": [
                "INSERT_ROWS",
                "OVERWRITE"
              ]
            }
          },
          {
            "name": "spreadsheetId",
            "type": "text",
            "label": "Spreadsheet ID",
            "required": true
          },
          {
            "name": "sheetId",
            "type": "select",
            "label": "Sheet Name",
            "required": true
          },
          {
            "name": "includesHeaders",
            "type": "select",
            "label": "Table contains headers",
            "required": true,
            "validate": {
              "enum": [
                true,
                false
              ]
            }
          },
          {
            "name": "SECRET_PLACEHOLDER",
            "type": "select",
            "label": "Use column headers as IDs of the columns",
            "required": true,
            "validate": {
              "enum": [
                true,
                false
              ]
            }
          },
          {
            "name": "values",
            "type": "collection",
            "label": "Values in columns",
            "metadata": [
              [
                [
                  "Client Name",
                  "Company",
                  "Email",
                  "Phone",
                  "Service Type",
                  "Budget",
                  "Start Date",
                  "Assigned To",
                  "Status",
                  "Notes"
                ]
              ]
            ],
            "spec": [
              {
                "name": "0",
                "type": "text",
                "label": "Client Name (A)"
              },
              {
                "name": "1",
                "type": "text",
                "label": "Company (B)"
              },
              {
                "name": "2",
                "type": "text",
                "label": "Email (C)"
              },
              {
                "name": "3",
                "type": "text",
                "label": "Phone (D)"
              },
              {
                "name": "4",
                "type": "text",
                "label": "Service Type (E)"
              },
              {
                "name": "5",
                "type": "text",
                "label": "Budget (F)"
              },
              {
                "name": "6",
                "type": "text",
                "label": "Start Date (G)"
              },
              {
                "name": "7",
                "type": "text",
                "label": "Assigned To (H)"
              },
              {
                "name": "8",
                "type": "text",
                "label": "Status (I)"
              },
              {
                "name": "9",
                "type": "text",
                "label": "Notes (J)"
              },
              {
                "name": "10",
                "type": "text",
                "label": "(K)"
              },
              {
                "name": "11",
                "type": "text",
                "label": "(L)"
              },
              {
                "name": "12",
                "type": "text",
                "label": "(M)"
              },
              {
                "name": "13",
                "type": "text",
                "label": "(N)"
              },
              {
                "name": "14",
                "type": "text",
                "label": "(O)"
              },
              {
                "name": "15",
                "type": "text",
                "label": "(P)"
              },
              {
                "name": "16",
                "type": "text",
                "label": "(Q)"
              },
              {
                "name": "17",
                "type": "text",
                "label": "(R)"
              },
              {
                "name": "18",
                "type": "text",
                "label": "(S)"
              },
              {
                "name": "19",
                "type": "text",
                "label": "(T)"
              },
              {
                "name": "20",
                "type": "text",
                "label": "(U)"
              },
              {
                "name": "21",
                "type": "text",
                "label": "(V)"
              },
              {
                "name": "22",
                "type": "text",
                "label": "(W)"
              },
              {
                "name": "23",
                "type": "text",
                "label": "(X)"
              },
              {
                "name": "24",
                "type": "text",
                "label": "(Y)"
              },
              {
                "name": "25",
                "type": "text",
                "label": "(Z)"
              }
            ]
          }
        ]
      }
    },
    {
      "id": 13,
      "module": "placeholder:Placeholder",
      "filter": null,
      "metadata": {
        "designer": {
          "x": 2100,
          "y": 0
        }
      }
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "us2.make.com",
    "notes": []
  }
}